.box {
    width: 100%;
    display: block;
    background: #A9D18E;
    border: #507E32 1px solid;
    margin: 15px 0;
    padding: 10px;
    box-shadow: rgba(80, 126, 50, 0.5) 0.5px 0.5px 3px;
}

.box h1 {
    margin: 0 0 10px 0;
    font-size: 18pt;
    font-weight: bold;
    color: black;
    text-shadow: rgba(255, 255, 255, 0.5) 0.3px 0.3px 1px;
}

.box h2 {
    margin: 0 0 10px 0;
    font-size: 16pt;
    font-weight: bold;
    color: black;
    text-shadow: rgba(255, 255, 255, 0.5) 0.3px 0.3px 1px;
}


footer p{
    text-align: center;
}

.no-data {
    font-size: 18px;
}

.image-box {
    width: 150px;
    height: 150px;
    display: inline-block;
    border: 1px solid rgba(100, 155, 63, 0.51);
    text-align: center;
}

.image-box:before
{
    content: '';
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.image-box img, .image-box p {
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.ad-image {
    max-width: 150px;
    max-height: 150px;
}